body {
  margin: 0;
  font-family: Nunito, sans-serif, Roboto, Roboto Condensed, sans-serif;
}

.header {
  display: flex;
  background-color: rgb(50, 167, 145);
  justify-content: space-around;
  align-items: center;
  gap: 20%;
}

.trybewarts-header-logo {
  width: 5%;
}

.trybewarts-login {
  display: flex;
}

main {
  display: flex;
}

#evaluation-form {
  display: flex;
  flex-direction: column;
  width: 675px;
  margin: 2%;
}

#input-lastname , #house {
  order: 1;
}

#identification {
  display: flex;
  flex-flow: column wrap;
  height: 12%;
  gap: 10px;
}

#trybewarts-forms-logo {
  height: 500px;
}

.checks {
  display: flex;
  justify-content: space-between;
}

.radios {
  display: flex;
  flex-flow: column;
}

.checkboxs {
  display: flex;
  flex-flow: column;
}

#textarea {
  resize: none;
}
